<div class="px-[1rem]">
  <app-navbar></app-navbar>
  <div class="max-w-4xl mx-auto bg-white shadow-lg">
    <div class="pt-[5rem]">
      <div class="flex justify-center items-center">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          width="24"
          height="24"
          class="main-grid-item-icon h-[150px] w-[150px] rounded-full bg-[#2DD13E] p-2"
          fill="none"
          stroke="white"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
        >
          <polyline points="20 6 9 17 4 12" />
        </svg>
      </div>
      <h1 class="text-center text-[#2DD13E] text-2xl pt-[2rem]">
        Account created successfully
      </h1>
      <h1 class="text-center py-[2rem] text-lg text-[#72777A]">
        Tracking Number 1234567890
      </h1>
      <div class="flex justify-center items-center text-white py-[2rem]">
        <button class="py-3 px-3 bg-[#1889F1] rounded-lg w-[200px]">
          <h1>Done</h1>
        </button>
      </div>
    </div>
  </div>
</div>
